.container
  .container-fluid
    %h1 About
    %h2 Librarium was created with following components:
    %table.table.table-striped
      %tr 
        %td Ruby v2.5.0
      %tr 
        %td Rails v5.1.5
      %tr 
        %td Bootstrap v4
    %h3
      Created by 
      %a{:href => "https://github.com/droznyk", :alt => "GitHub"} DroznyK
