.jumbotron
  %h1.display-4 Librarium
  %p.lead This is a simple home library app.
  %hr.my-4
  %p 
    If you have any question, feel free to
    = link_to 'contact' , '#'
    me.
  %p.lead
    %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Create your own library