.container
  .row
    .col.col-md-6
      %h1= @library.name
      .col.col-md-10
        %p Description:
        %p= @library.description
      %p Actions:
      = button_to 'Edit library', edit_library_path(@library), class: 'btn btn-primary btn-lg'
      = button_to 'Delete library', library_path(@library), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger btn-lg' 
